<div class="user-bloc">
  <div class="user-image">
    <img src="<%= user.photo %>" alt="user image">
  </div>
  <div class="user-data">
    <a href="<%= user.id %>"><h4 class="title"><%= user.name %></h4></a>
    <span class="user-posts">Number of posts: <%= user.posts_counter || 0 %></span>
  </div>
</div>
