<div class="users-bloc">
  <% for i in 0..9 do %>
    <div class="user-bloc"></div>
    <div class="data-user">
      <h2>User name</h2>
      <span class="user-posts">Number of posts: x</span>
    </div>
  <% end %>
</div>